.footerMain{
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;


    padding: 5px;
    background-color: rgb(32, 32, 32);
    color: #fff;
    letter-spacing: 2px;
}