.editMain{
    .field{
        margin-top: 30px;
        height: 70px;
    }

    label{
        width: 100%;
    }

    .comment{
        height: 170px;
    }

    input{
        width: 400px;
    }

    label{
        width: 200px;
        text-align: start;
    }

    button{
        margin-right: 20px;
    }
}